{% extends 'base.html' %}
{% load static %}
{% block css %}{% endblock %}
{% block content %}
{% include 'message.html' %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <ol class="breadcrumb bg-transparent float-end pt-3 mb-0 px-0">
            <li class="breadcrumb-item text-secondary"><a href="/" class="text-decoration-none">Home</a></li>
            <li class="breadcrumb-item active">SignUp</li>
        </ol>
      </div>
      <div class="col-12">
        <h2 class="d-inline-block">SignUp Form</h2>
        <p>Create your account with quora and start Solving complex problems</p>
      </div>
      <div class="col-12 col-md-8 mb-5">
        <form method="post" enctype="multipart/form-data" class="row g-3 needs-validation border p-4 rounded" novalidate="">
           {% csrf_token %}
           
           {% include 'auth_app/forms/auth_widget.html' %}

            <div calss="col-12">
                <a href="/" class="btn btn-danger">Back</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            <div calss="col-12 mt-3">
              <p>Already <a href="{% url 'auth_app:sign_in' %}" class="text-primary text-decoration-none">Have Account</a> Connects With Us?</p>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
