{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

    <title>Quora</title>
  </head>
  <body style="background-color: rgb(241, 242, 242);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="/">Quora</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav"> <!-- Use 'ms-auto' to align items to the right -->
                  <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'questions:post_questions_create' %}">Post questions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'questions:post_questions_view' %}">questions List</a>
                </li>
              </ul>
              <ul class="navbar-nav ms-auto">
                <div class="dropdown d-none d-md-block mt-1">
                  <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                      <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                    </svg>
                    Profile
                  </button>
                  <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                      <li><a class="dropdown-item" href="javascript:void(0);">Profile</a></li>
                      <li><a class="dropdown-item" href="{% url 'auth_app:logout' %}">Logout</a></li>
                    {% else %}
                      <li><a class="dropdown-item" href="{% url 'auth_app:sign_up' %}">SignUp</a>
                      <li><a class="dropdown-item" href="{% url 'auth_app:sign_in' %}">SignIn</a>
                    {% endif %}
                  </ul>
                </div>
                {% if user.is_authenticated %}
                <li class="nav-item d-block d-md-none">
                  <a class="nav-link" href="javascript:void(0);">Profile</a>
                </li>
                <li class="nav-item d-block d-md-none">
                    <a class="nav-link" href="{% url 'auth_app:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item d-block d-md-none">
                    <a class="nav-link" href="{% url 'auth_app:sign_up' %}">SignUp</a>
                </li>
                <li class="nav-item d-block d-md-none">
                    <a class="nav-link" href="{% url 'auth_app:sign_in' %}">SignIn</a>
                </li>
                {% endif %}
              </ul>
          </div>
      </div>
  </nav>
  
  
    {% block content %}{% endblock %}

    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}" ></script>
    
    {% block js %}{% endblock %}
  </body>
</html>